@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");

body {
	background: rgb(116, 115, 115);
	text-align: center;
	font-family: "Poppins", sans-serif;
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.parallax {
	background-image: url(../img/finish.jpg);
	background-position-x: center, center;
	background-position-y: center, center;
	background-size: cover;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}
.parallax-inner {
	padding-top: 10vh;
	padding-bottom: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.finish-info {
	margin: 20px;
	width: 600px;
	padding: 30px 50px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.411);
}

.finish-info-box {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.finish-info-box img {
	width: 120px;
}

.finish-info p {
	font-size: 15px;
	font-weight: 600;
}
.finish-info-box p {
	width: 200px;
	margin-right: 50px;
	font-weight: 400;
}

.ziemia {
	margin-left: 50px;
}

/* ------------------Content------------- */

.rating {
	margin: 20px;
	padding: 20px;
	border-radius: 7px;
	font-size: 19px;
}

.btn-tip {
	margin-top: 30px;
	font-size: 16px;
	right: 0;
	padding: 8px 20px;
	background-color: #4d8748;
	color: white;
	border-radius: 7px;
}

.btn-tip:hover {
	cursor: pointer;
}

/* -----result----- */
.stats-world,
.details {
	display: flex;
	width: 100%;
	justify-content: center;
}

.result {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}
.result-value,
.result-describe {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}
.result-bar {
	width: 20px;
	background-color: #ffae34;
	border-radius: 10px;
	animation: growBar 1s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes growBar {
	from {transform: translateY(50%) scaleY(0) ;}
	to {transform: translateY(0px) scaleY(1) ;}
  }


.result .arrow{
	width: 19px;
	height: 19px;
	border-top: 3px solid rgba(255, 31, 31, 0.8);
	border-left: 3px solid rgba(255, 31, 31, 0.8);
	transform:translateY(20%) rotate(45deg) ;
}

.result-value{
	opacity: 0;
	animation: showResultValue 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes showResultValue {
	from {opacity: 0;}
	to {opacity: 1;}
  }

/* ---------------------- */

/* --------------accesories------------ */
.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	height: 55px;
}

.btn-support {
	position: fixed;
	font-size: 16px;
	top: 40px;
	right: 0;
	padding: 8px 20px;
	background-color: #4d8748;
	color: white;
	border-radius: 7px 0 0 7px;
}

.more-info {
	color: white;
	position: fixed;
	font-size: 14px;
	bottom: 30px;
	right: 20px;
}

.more-info a {
	color: yellowgreen;
}

.share {
	display: flex;
	color: white;
	position: fixed;
	font-size: 14px;
	bottom: 30px;
	left: 20px;
	align-items: center;
}
.share img {
	width: 25px;
	margin-right: 10px;
}
.share a {
	text-decoration: none;
	color: white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}


/* pop up */

.popup-background{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	z-index: 1;
	display: none;
	/* align-items: center; */
	justify-content: center;
	animation: showSlowlyPopUp .4s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showSlowlyPopUp {
	from {background-color: rgba(0, 0, 0, 0);}
	to {background-color: rgba(0, 0, 0, .6);}
  }

.popup-box{
	width: 778px;
	margin-top: 20vh;
	animation: showSlowlyPopUpBox .4s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showSlowlyPopUpBox {
	from {opacity: 0;}
	to {opacity: 1;}
  }

.popup{
	text-align: left;
	width: 100%;
	padding: 30px 50px 30px 100px;
	border-radius: 7px;
	background-color: #fff;
	color: black;
	position: relative;
}
.popup img{
	position: absolute;
	width: 60px;
	left: 20px;
	top:25px;
}
.popup h2{
	font-size: 29px;
}
.popup p{
	margin-top: 15px;
	font-size: 15px;
	font-weight: 500;
}


.btn-x{
	display: flex;
	justify-content: end;
}

.btn-x img{
	width: 25px;
	margin-bottom: 20px;
	transition: transform .3s;
}
.btn-x img:hover{
	cursor: pointer;
	transform: rotate(90deg);
}



