:root {
	--formColor: rgba(255, 255, 255, 0.5);
}

.form-button-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.form-container,
.info-box {
	/* background-color: var(--formColor); */
	display: inline-block;
	border-radius: 7px;
	width: 700px;
}
.info-box {
	background-color: var(--formColor);
	display: inline-block;
	border-radius: 7px;
	width: 700px;
}

.form-box {
	/* padding: 30px 30px 0 30px; */
}

.form-object {
	display: none;
	margin-bottom: 10px;
	background-color: var(--formColor);
	width: 700px;
	border-radius: 7px;
	padding: 20px;
}

.btn-next-box{
	background-color: var(--formColor);
	border-radius:0 0 7px 7px ;
	overflow: hidden;
	padding: 0px 15px 15px 15px;
}

p {
	margin-bottom: 0;
}

.category-name {
	color: rgb(255, 255, 255);
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
}

.page-number {
	color: rgb(255, 255, 255);
}

/* KATEGORIE */

ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	margin: 0;
}

li:not(:nth-child(1)) {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;

}

.active-cat {
	color: #FED049;
}


/* counter */
.counter{
	display: none;
	color: #777777;
	font-size: 20px;
}

.active-counter{
	display: block;
}

.q-in-cat{
	color: #777777;
	display: inline-block;
}

.slash{
	font-size: 12px;
	transform: translateY(-12%);
	display: inline-block;
}

.q-nr{
	color: #FED049;
	display: inline-block;
}


/* INFO */

.info-box {
	margin-top: 20px;
	text-align: left;
	opacity: 0;
	transition: all 0.5s;
}

.info-object {
	position: relative;
	display: none;
}

.info-img-box {
	display: inline-block;
	position: absolute;
}

.info-img {
	width: 50px;
	margin: 15px;
}

.info-content {
	margin-left: 70px;
	display: inline-block;
	width: 85%;
}

.info-box h4 {
	margin-top: 20px;
	font-size: 20px;
}
.info-box p {
	margin-top: 10px;
	margin-bottom: 20px;
}


.last-on-page{
	margin: 0;
	border-radius: 7px 7px 0 0;
}