:root {
	--formColor: rgba(255, 255, 255, 0.5);
}

.form-button-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

/* width container */
.form-container,
.info-box,
.form-object {
	/* width: 928px; */
	width: 80vw;
}

.form-container,
.info-box {
	/* background-color: var(--formColor); */
	display: inline-block;
	border-radius: 7px;
}
.info-box {
	background-color: var(--formColor);
	display: inline-block;
	border-radius: 7px;
	text-align: justify;
}

.form-box {
	/* padding: 30px 30px 0 30px; */
}

.form-object {
	display: none;
	margin-bottom: 10px;
	background-color: var(--formColor);
	border-radius: 7px;
	padding-top: 43px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
}

.btn-next-box {
	background-color: var(--formColor);
	border-radius: 0 0 7px 7px;
	overflow: hidden;
	padding: 0px 15px 35px 15px;
}

p {
	margin-bottom: 0;
}

.category-name {
	color: rgb(255, 255, 255);
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
}

.page-number {
	color: rgb(255, 255, 255);
}

/* KATEGORIE */

ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

li:first-child{
	display: none;
}

li:not(:nth-child(1)) {
	display: inline-block;
	margin-left: 22px;
	margin-right: 22px;
}

.active-cat {
	color: #fed049;
}

/* counter */
.counter {
	display: none;
	color: #777777;
	font-size: 30px;
}

.active-counter {
	display: block;
}

.q-in-cat {
	color: #777777;
	display: inline-block;
}

.slash {
	font-size: 16px;
	transform: translateY(-13%);
	display: inline-block;
}

.q-nr {
	color: #fed049;
	display: inline-block;
}

/* INFO */

.info-box {
	margin-top: 20px;
	text-align: left;
	opacity: 0;
	transition: all 0.5s;
}

.info-object {
	position: relative;
	display: none;
}

.info-img-box {
	display: inline-block;
	position: absolute;
}

.info-img {
	width: 50px;
	margin: 15px;
}

.info-content {
	margin-left: 70px;
	display: inline-block;
	width: 85%;
}

.info-box h4 {
	margin-top: 20px;
	font-size: 20px;
}
.info-box p {
	max-width: 90%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: justify;
}

.last-on-page {
	margin: 0;
	border-radius: 7px 7px 0 0;
}



.metryczka{
	height: 75px;
	background: #000;
}

/* MEDIA */

@media (min-width: 0px) and (max-width: 576px) {
	.form-container,
	.info-box,
	.form-object,
	.btn-next-box {
		width: 90vw !important;
		/* margin: auto !important; */
	}

	.info-box{
		margin-top: 10px !important;
	}

	.form-object {
		padding-top: 30px !important;
		padding-bottom: 20px !important;
		padding-left: 50px !important;
		padding-right: 50px !important;
		/* margin-bottom: 5px !important; */
	}

	li {
		display: none !important;
	}
	
	.active-cat {
		display: inline-block !important;
		color: #fed049;
	}

	.info-content {
		width: 70%;
	}


}


@media (min-width: 577px) and (max-width: 786px) {
	.form-container,
	.info-box,
	.form-object,
	.btn-next-box {
		width: 80vw !important;
		/* margin: auto !important; */
	}

	.info-box{
		margin-top: 10px !important;
	}

	.form-object {
		padding-top: 30px !important;
		padding-bottom: 20px !important;
		padding-left: 50px !important;
		padding-right: 50px !important;
		/* margin-bottom: 5px !important; */
	}

	ul {
		font-size: 13px !important;
	}
	
	.active-cat {
		display: inline-block !important;
		color: #fed049;
		font-size: 15px !important;
	}

	li:not(:nth-child(1)) {
		margin-left: 15px;
		margin-right: 15px;
	}

}

@media (min-width: 787px) and (max-width: 992px) {
	ul {
		font-size: 17px !important;
	}
	
	.active-cat {
		display: inline-block !important;
		color: #fed049;
		font-size: 20px !important;
	}

	li:not(:nth-child(1)) {
		margin-left: 17px;
		margin-right: 17px;
	}
}

@media (min-width: 992px) {
	.form-container,
	.info-box,
	.form-object,
	.btn-next-box {
		width: 60vw !important;
		/* margin: auto !important; */
	}
}
