:root {
	--inputBorderColor: #aeca7a;
	--fontColor: rgb(255, 255, 255);
}

.main-question-text {
	margin-bottom: 10px;
	font-size: var(--headerQuestionSize);
	font-weight: 600;
}

.input-text-object {
	display: inline-block;
}

.input-object {
	margin-bottom: 5px;
}

.input-text-object span {
	position: absolute;
	color: rgb(133, 133, 133);
	font-weight: 700;
	font-size: 13px;
	transform: translateY(70%);
}

.input-text-object .input-object {
	font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="text"] {
	-moz-appearance: textfield;
}

input[type="text"] {
	border: transparent;
	border-bottom: 3px solid var(--inputBorderColor);
	background-color: transparent;
	color: var(--fontColor);
	width: 80px;
	padding: 6px;
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}
input[type="text"]:focus {
	outline: none;
}

.validate-input {
	margin: 0;
	color: red;
	display: block;
	font-size: 0px;
	opacity: 0;
	transition: all 0.5s;
	transform: translateY(-100%);
}
