:root{
	--rangeColor: rgb(55, 68, 112);
	--rangeWhellColor: rgb(255, 255, 255);
}

.main-question-slider-percent{
	margin-bottom: 20px;
	font-size: var(--headerQuestionSize);
}

.slider-percent-value{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 80px;
	background-color: var(--rangeColor);
}

.main-question-slider{
	margin-bottom: 20px;
	font-size: var(--headerQuestionSize);
}

.slider-value{
    background-color: var(--rangeColor);
    color: var(--whellColor);
	min-width: 60px;
    font-size: 14px;
	font-weight: 500;
    display: inline-block;
    padding: 7px;
    margin: 10px;
}

.slider-describe{
    font-size: 13px;
}

.slider-container{
	position: relative;
	height: 50px;
}

.slider {
	-webkit-appearance: none;
	top: 50%;
	transform: translateY(-100%);
	left:0;
	width: 100%;
	height: 8px;
	/* margin-bottom: 30px; */
	/* margin-top: 10px; */
	border-radius: 10px;
	background-color: var(--rangeColor);
	position: absolute;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	height: 30px;
	background: var(--rangeColor);
	border: 3px solid var(--rangeWhellColor);
	border-radius: 50%;
}

/* .progress-bar{
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	left:0;
	width: 50%;
	height: 8px;
	background-color: rgb(173, 62, 62);
	border-radius: 10px;
} */


@media (min-width: 0px) and (max-width: 576px){
	.slider{
		width: 100%;
	}
}