@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;900&display=swap");

body {
	background: rgb(116, 115, 115);
	text-align: center;
	font-family: "Poppins", sans-serif;
	color: #fff;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.parallax {
	background-image: url(../../img/finish.jpg);
	background-position-x: center, center;
	background-position-y: center, center;
	background-size: cover;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}

.parallax-inner {
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* ------------------Content------------- */

.rating {
	margin: 20px;
	padding: 20px;
	border-radius: 7px;
	font-size: 19px;
}

.btn-tip {
	margin-top: 30px;
	font-size: 18px;
	right: 0;
	padding: 17px 26px;
	background-color: #4d8748;
	color: white;
	border-radius: 7px;
}

.btn-tip:hover {
	cursor: pointer;
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 8px;
	height: 0px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

.details .result {
	padding: 5px;
	border-radius: 7px;
	transition: background-color 0.4s;
}
.details .result:hover {
	background-color: rgba(0, 0, 0, 0.253);
	cursor: pointer;
}


@media (min-width: 0px) and (max-width: 576px) {
	
}